PORT=3000
SQLITE_PATH=data/subtitle2.sqlite
UPLOADS_DIR=uploads
JWT_SECRET=please-change-this-secret
FRONTEND_BASE_URL=https://subtitle2.winben.hu
SMTP_USER=
SMTP_PASS=
SMTP_FROM=subtitle2 <noreply@subtitle2.winben.hu>
