PORT=3000
SQLITE_PATH=data/subtitle2.sqlite
UPLOADS_DIR=uploads
JWT_SECRET=fdogoisrlnjwrfljnsdlnv2nllnqalnkflnkl
FRONTEND_BASE_URL=https://subtitle2.winben.hu
SMTP_USER=
SMTP_PASS=
SMTP_FROM=subtitle2 <noreply@subtitle2.winben.hu>
WHISPER_COMMAND=/home/winben/whisper/.venv/bin/whisper
WHISPER_QUEUE_POLL_MS=2500
WHISPER_WORKER_AUTOSTART=true
FORCE_FREE_PORT_ON_START=true
OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-3.5-turbo
OPENAI_TIMEOUT_MS=25000
